body {
  font-family: Arial, sans-serif;
  background-color:#d9d92d;
  padding: 20px;
}

h1 {
  color: #00698f;
  font-size: 4rem;
  text-align: center;
}

.footer {
   text-align: center;
   color: brown;
}

img {
  max-width: 50%;
  max-height: 50%;
}


#myButton {
   background-color: #4CAF50;
   color: #fff;
   border: none;
   padding: 10px;
   font-size: 3rem;
   cursor: pointer;
 }
 
 #myButton:hover {
   background-color: #3e8e41;
 }
 
 #button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }